@import '../../../styles/Queries.scss';
@import '../../../styles/Ui-kit.scss';

.wrapper {
  background-color: $light-apricot;
}
.margin_right {
  width: 4%;
}
.margin_left {
  width: 2%;
}
.margin_bottom {
  height: 14px;
}
.margin_between_columns {
  @media (min-width: $xxs) {
    height: 14px;
  }
  @media (min-width: $lg) {
    height: 0px;
  }
}