@import '../../../styles/Queries.scss';
@import '../../../styles/Ui-kit.scss';

.wrapper {
  background-color: $light-apricot;
}
.card {  
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media (min-width: $xxs) and (max-width: $sm) {
    flex-direction: column;
    row-gap: 80px;
  }
  @media ($sm < width < $lg) {
    display: grid;
    grid-template-columns: repeat(2, 47%);
    justify-content: space-between;
    row-gap: 60px;
  }
}