@import '../../../styles/Queries.scss';
@import '../../../styles/Ui-kit.scss';

.wrapper {
  background-color: $light-apricot;
  height: fit-content;
}
.cards {
  @media (width < $sm) {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }
  @media ($sm < width < $lg) {
    display: grid;
    grid-template-columns: repeat(2, 49%);
    row-gap: 16px;
    justify-content: space-between;
  }
  @media (min-width: $lg) {
    display: grid;
    grid-template-columns: repeat(3, 32%);
    justify-content: space-between;
    row-gap: 16px;
    justify-items: center;
  }
  @media (min-width: $xl) {
    display: grid;
    grid-template-columns: repeat(4, 24%);
    justify-content: space-between;
    row-gap: 16px;
  }
}